on:
  schedule:
    - cron: '40 16 * * *'
    - cron: '40 9 * * 0,6'
    # min, hour (24h UTC), day of month, month, day of week 0-6 SUN-SAT
    # it needs up to 15 min to start    
  workflow_dispatch:
jobs:
  generate-heise-epub:
    runs-on: ubuntu-latest
    container:
      image: linuxserver/calibre:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate Heise EPUB
        env:
            HEISE_USER: ${{ secrets.HEISE_USER }}
            HEISE_PASSWORD: ${{ secrets.HEISE_PASSWORD }}
        run: |
            bash generate-heise-epub.sh
